.h{
  font-size:2.7rem;
font-family: fantasy;
}
.para{
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-size:1.7rem;
    font-style: fantasy;color:black;  translate: rotateX(0deg);
}
.nav-link1{ 
  display:flex; color:black; padding:1.2rem; font-size: 20px; text-decoration:none;
}
.btnh{
    display:flex; padding:0.7rem; justify-content:center ;
}
.btn1{
    color:black;font-size: 30px; justify-content:center ;font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.btn1:hover{
    background-color:rgba(27, 53, 54, 0.699);
}
.style1{
    width: 80%; height: 300px; border-radius: 21px 21px 0 0;
}
.olala{
    transform: translateX(-105%);
}
.olala1{
    left: 0px; right: 0px;
}
.olala2{
    display: none;
}
.olala3{
    display: block;
}